<br>
<br>
<br>
<div class="main">
  <div class="child">
        <h1>Articles</h1>

      <ul>
        <% @articles.each do |article| %>
          <li class ="article">
            <%= link_to article.title, article %>
          </li>
        <% end %>
      </ul>
      <br><br><br><br>

      <%= link_to "Add New Article", new_article_path, class: "btn btn-outline-success"%>
  </div>
</div>
